<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
	</head>
	<body>
		<h1>Your turn to wash is, young padawan <%= @userMail.username %></h1>
		<p>May the force be with you <%= @organization.name %></p>
		<p>
			Don't worry, be happy!, and ENJOY
		</p>
		
	</body>
</html>