<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
	</head>
	<body>
		<h1><%= @userMail.name %>, is your turn to wash</h1>
		<p>Today is the day of your turn to wash the dishes in <%= @organization.name %></p>
		<p>
			Don't worry, be happy!, and ENJOY
		</p>
		
	</body>
</html>